# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  - push
  - pull_request

jobs:
  build:
    name: Build plugin
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [ 8, 11 ]
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'

      - name: Print tool versions
        run: |
          java -version
          ./gradlew --version
      - run: ./gradlew assemble -s
      - run: ./gradlew check -s
      - name: Upload Coverage Reports
        run: |
          ./gradlew jacocoTestReport
          bash <(curl -s https://codecov.io/bash)

  build-examples:
    name: Build example projects
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        java: [ 8, 11 ]
        os: [ubuntu-latest, macos-latest, windows-latest]
    defaults:
      run:
        working-directory: examples
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'

      - name: Print tool versions
        run: |
          java -version
          ./gradlew --version
      - run: ./gradlew assemble -s
      - run: ./gradlew check -s
